{{ partial "header.html" . }}

<article class="sheet" style="margin-left: auto">
  <div class="sheet__inner" style="display: flex; margin-left: auto;">
    <div class="sheet__title" style="flex:1; margin-left: auto;">{{ .Title }}</div>
    <div class="sheet__lead" style="flex:1; margin-left: auto;">{{ .Params.excerpt }}</div>
    <div class="sheet__slider" style="flex:1; margin-left: auto;">
      <div class="slider js_slider">
        <div class="slider__frame js_frame">
          <ul class="slider__slides js_slides">
            {{ range .Params.extraimages }}
              <li class="slider__slide js_slide">
                <img src="{{ . }}">
              </li>
            {{ end }}
          </ul>
        </div>
        <span class="slider__prev js_prev"></span>
        <span class="slider__next js_next"></span>
      </div>
    </div>
    <div style="flex:1; margin-left: auto;" class="sheet__body" style="flex: 1;">
      {{ .Content }}
    </div>
    <div style="flex:1; margin-left: auto;" class="sheet__gallery">
      <img src="{{ .Params.detailimage }}" />
    </div>
  </div>
</article>

{{ partial "footer.html" . }}

