.container__sidebar
  display: block
  width: 30%
  min-width: 320px
  box-sizing: border-box
  padding: 40px
  background-color: $light-bg-color

.container__body
  flex: 1
   
.container__body--white
  background-color: white
