.showcase.is-loading
  visibility: hidden

.showcase__item
  margin-bottom: 30px
  margin-left: auto

@media screen and (max-width: 600px)
  .showcase
    margin: 0 5px
    float: 1

    
@media screen and (min-width: 601px)
  .showcase
    float: 1
    
  .showcase__item
    margin-left: auto
    box-sizing: border-box
    width: (98% / 2)
    float: left
    padding-left: 5px

@media screen and (min-width: 1200px)
  .showcase__item
    width: (100% / 2)
    margin-left: auto

@media screen and (min-width: 1200px)
  .showcase
    padding: 10px 0 10px
    margin-right: 10px
    margin-left: auto


@media screen and (min-width: 1200px)
  .showcase__item
    padding-left: 10px
    margin-left: auto

