{{ partial "header.html" . }}

<article class="sheet">
  <div class="sheet__inner">
{{ if eq .Title "EcoSchool" }}
<h1 class="sheet__title">SCD Hub - Mamawatoto Eco School 2022 Business Development Course Fundraiser</h1>
{{ else }}
    <h1 class="sheet__title">{{ .Title }}</h1>  
{{ end }}
	  
    <h3 class="sheet__subtitle">{{ .Params.subtitle }}</h3>
    <p class="sheet__lead">{{ .Params.excerpt }}</p>
    
 
    
	  
{{ if eq .Title "Blog" }}
    <div class="sheet__gallery">
      <img src="{{ .Params.photo }}" />
    </div>
{{ end }}
	  <div class="sheet__body">
      {{ .Content }}
    </div>
    
{{ if eq .Title "Eco Operations app, supporting cooperative resource management & carbon credit tool" }}

	  
	  <script src="https://unpkg.com/packery@2/dist/packery.pkgd.js"></script>
	  
	  {{ partial "ecoopsapp_masonry.html" . }}
																     
																     

	  <style>
		  .grid { width: 80%; }
		  .grid-item { width: 15%; }
		  .grid-item--width2 { width: 35%; background: #434534; }
		  .grid-item--width3 { width: 25%; background: #200345; }
	  </style>
	  <div class="grid">
		  <div class="grid-item">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">secure</div>
  		  <div class="grid-item grid-item--width2">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
  		  <div class="grid-item grid-item--width3">...</div>
 		  <div class="grid-item">free</div>
  		  <div class="grid-item grid-item--width2">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">powerful</div>
  		  <div class="grid-item grid-item--width2">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">...</div>
 		  <div class="grid-item">real time</div>
  		  <div class="grid-item grid-item--width2">...</div>
  		  <div class="grid-item grid-item--width3">...</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">technical stuff</div>
  		  <div class="grid-item grid-item--width2">...</div>
 		  <div class="grid-item">...</div>
 		  <div class="grid-item">...</div>
 		  <div class="grid-item">...</div>
  		  <div class="grid-item grid-item--width2">carbon trading</div>
 		  <div class="grid-item">...</div>
</div>

	  
<!--
          If you are creating an open source application under a license compatible with the GNU GPL license v3, 
	  you may use Packery under the terms of the GPLv3. Read more about Packery open source licensing.
-->	
	<script>
		var elem = document.querySelector('.grid');
		var pckry = new Packery( elem, {
 		 // options
 		 itemSelector: '.grid-item',
 		 gutter: 10
		});

		// element argument can be a selector string
		//   for an individual element
		var pckry = new Packery( '.grid', {
		  // options
		});	  
	  </script>
{{ end }}	  
  
{{ if eq .Title "Contact" }}
  
         <div id="blog-archives" class="category">
          {{ range (where .Site.Pages "Type" "post") }}
          <h2>
            {{ .Date | dateFormat "2022"}} <!-- print publish year -->
          </h2>
          <article>
            <h1>
              <a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
            </h1>
            <time>
              <span class="month">{{ .Date | dateFormat "Jan" }}</span> <!-- print publish month -->
              <span class="day">{{ .Date | dateFormat "2" }}</span> <!-- print publish day -->
            </time>
              <!-- if you want pages summary you can print it here {{ .Summary }} -->
           </article>
           {{ end }}
           </div>
           </article>
{{end}}
  
  
    
    
    
    {{ if eq .Title "Contact" }}
    <iframe src="https://us7.list-manage.com/contact-form?u=9793533008f558091af54dc45&#38;form_id=a8b06d830b90d68bf238b5360ba76563" title="W3Schools Free Online Web Tutorials"></iframe>
    {{end}}    
    {{ if eq .Title "Donate" }}
     {{ partial "pricing_table.html" . }}
    {{end}}
       {{ if eq .Title "Donate to SCD Hub" }}
     <a href="https://checkout.stripe.com/pay/cs_live_a1Lci4Qt3EIKTif6LEjcOEnG0YcITzAor1vmtsk7bAppeQ1vF4WCVzp9r7#fidkdWxOYHwnPyd1blppbHNgWjxUdX9KMXxrU2s1XHRqazdQbDN2X39CSycpJ3VpbGtuQH11anZgYUxhJz8nPXJIPX9BNHA1Y01AYWlWNmZ3J3gl"> Donate with card via Stripe</a>
       {{end}}
       {{ if eq .Title "Newsletter" }}
      <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7_dtp.css" rel="stylesheet" type="text/css">

      <style type="text/css">
      	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
      	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
   	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="https://scdhub.us7.list-manage.com/subscribe/post?u=9793533008f558091af54dc45&amp;id=3ca89d34e8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
       <div id="mc_embed_signup_scroll">
      	<h2>Subscribe</h2>
      <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
      <div class="mc-field-group">
	     <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
       </label>
	     <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
       </div>
     	<div id="mce-responses" class="clear foot">
	    	<div class="response" id="mce-error-response" style="display:none"></div>
	    	<div class="response" id="mce-success-response" style="display:none"></div>
	      </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9793533008f558091af54dc45_3ca89d34e8" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/hTORKv" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
        </div>
      </form>
     </div>
     <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  {{end}}
    
  
  </div>
</article>




{{ partial "footer.html" . }}


