
            <link rel="stylesheet" href="https://packery.metafizzy.co/css/packery-docs.css">
										      
            <div class="drag-hero-demos__grid__masonry-grid-sizer"></div>
            <div class="drag-hero-demos__grid__masonry-gutter-sizer"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry height2" style="position: absolute; left: 33.994%; top: 88.7167px; touch-action: none;">Drag me!</div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry" style="position: absolute; left: 33.994%; top: 0px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry height3" style="position: absolute; left: 33.994%; top: 416.15px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry" style="position: absolute; left: 0%; top: 0px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry height2" style="position: absolute; left: 0%; top: 177.433px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry height3" style="position: absolute; left: 33.994%; top: 227.433px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry height2" style="position: absolute; left: 67.9879%; top: 0px; touch-action: none;"></div>
            <div class="drag-hero-demos__item drag-hero-demos__item--masonry" style="position: absolute; left: 0%; top: 88.7167px; touch-action: none;"></div>
            <!  comes from /layouts/partials/ecoopsapp_masonry.html >
