<!DOCTYPE html>
<html lang="<%= settings.language %>">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ if eq .Site.Params.env "production" }}
      <link rel="stylesheet" href="/assets/all.css">
    {{ end }}
    {{ .Site.Data.settings.faviconMetaTags | safeHTML }}
    {{ if isset .Params "seometatags" }}
      {{ .Params.seometatags | safeHTML }}
    {{ else }}
      {{ .Site.Data.settings.seoMetaTags | safeHTML }}
    {{ end }}
    <style>
      .textheader {
        margin: 50px;
        justify-content: center;
        align-items: center;
      }

      .headercontent {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    

    
    <div class="container">
      <div class="container__sidebar">
          <img title="{{ .Site.Data.settings.name }}" src="https://scdhub.org/images/logo.svg" style="height:250px;width=250px;">
          <ul class="sidebar__menu">
            {{ $currentNode := . }}
            {{ range .Site.Menus.main }}
              <li{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} class="is-active"{{end}}>
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
          <p class="sidebar__social">
            {{ range .Site.Data.settings.socialProfiles }}
              <a href="{{ .url }}" class="social social--{{ .type }}"></a>
            {{ end }}
          </p>
          <div class="sidebar__copyright">
            {{ .Site.Data.settings.copyright }}
          </div>
         </div>
        
            <div class="mobile-header__logo">
              <a href="/index.html">{{ .Site.Data.settings.name }}</a>
            </div>          
        
        
          {{ if .IsHome }}
            <div class="textheader">
              <div class="headercontent">
                <h2>{{ .Site.Data.settings.intro | markdownify }}</h2>
              </div>
            </div>
          {{ end }}
        
           
            
        
